<template lang="pug">
  div.hello
    h1 {{ msg }}
    p
      | For a guide and recipes on how to configure / customize this project,<br>
      | check out the
      a(
        href="https://cli.vuejs.org"
        target="_blank"
        rel="noopener"
      ) vue-cli documentation

    h3="Installed CLI Plugins"
    ul
      li
        a(
          href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-babel"
          target="_blank"
          rel="noopener"
        ) babel
      li
        a(
          href="https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-eslint"
          target="_blank"
          rel="noopener"
        ) eslint

    h3="Essential Links"
    ul
      li
        a(
          href="https://vuejs.org"
          target="_blank"
          rel="noopener"
        ) Core Docs
      li
        a(
          href="https://forum.vuejs.org"
          target="_blank"
          rel="noopener"
        ) Forum
      li
        a(
          href="https://chat.vuejs.org"
          target="_blank"
          rel="noopener"
        ) Community Chat
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: {
      type: String,
      default: '',
      required: false
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
