/*
* 컬러 변수를 저장한다
*/


$color-white:             #ffffff;
$color-cornflower-blue:   #4e69cc;
$color-orange-pink:       #f27059;
$color-tealish:           #30b9af;
$color-orangeish:         #f9914d;
$color-black:             #000000;
$color-slate-grey:        #50515a;
$color-cloudy-blue:       #bebec4;
$color-steel:             #7d7e8a;
$color-dark-blue-grey:    #1b3749;
$color-charcoal-grey:     #3b4a53;
$color-slate:             #5a707e;
$color-light-grey-blue:   #acb7be;

$color-solitude-grey:     #e7eaee;

$color-error:             $color-orange-pink !default;

:root {
  --cornflower-blue: #{$color-cornflower-blue};
  --orange-pink: #{$color-orange-pink};
  --tealish: #{$color-tealish};
  --orangeish: #{$color-orangeish};
  --black: #{$color-black};
  --slate-grey: #{$color-slate-grey};
  --cloudy-blue: #{$color-cloudy-blue};
  --steel: #{$color-steel};
  --dark-blue-grey: #{$color-dark-blue-grey};
  --charcoal-grey: #{$color-charcoal-grey};
  --slate: #{$color-slate};
  --light-grey-blue: #{$color-light-grey-blue};
  --solitude-grey: #{$color-solitude-grey};
  --white: #{$color-white};
  --signup-input-default-line: #d6dbdf;
  --very-light-blue: #e7eaee;
  --md-theme-default-primary: #{$color-tealish};
  --md-theme-default-accent: #{$color-error};
  --color-error: #{$color-error};
  --color-primary: #{$color-tealish};
}