/*
* 모든 컴포넌트, 페이지에 적용될 스타일을 지정해준다  
*/

@import './variables.scss';
@import './color.scss';

body {
  background-color: #eff3f6;
  --safe-area-top: 0;
  font-family: #{$font-family-base} !important;
}
